.success-header {
    width: 1920px;
    height: 1080px;
    background: #CE2829;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-header img {
    margin-top: 149px;
    width:362px;
}
.success-header h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 86px;
    line-height: 92px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    margin-top: 266px;
}
.order-summary {
    width: 202px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.76px;
    color: #FFFFFF;
}
.order-summary p {
    margin: 13px 0 0;
}
@media (max-width: 540px) {
    .success-header {
        width: 540px;
        height: 960px;
    }
    .success-header h1 {
        font-size: 72px;
        margin-top: 220px;


    }
    
}